.__tourNavigator{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}
.__tourNavigator-overlay{
    height: 100%;
    width: 100%;
}
.__tourNavigator-helper{
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(calc(var(--x) * 1px)) translateY(calc(var(--y) * 1px));
    transition: transform .5s;
}